/* pages/about/index.wxss */

page {

  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: #fff;
  display:block;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  width: 90vw;
  margin: 0 auto;
  padding: 70rpx 0;
}