

h1 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}

.selecter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20rpx 0 40rpx;
  button {
    flex: 1;
    margin: 0 5rpx;
    font-size: 28rpx;
    color: #fff;
    transition: all 0.3s;
    padding: 15rpx 5rpx;
  }
  button[type="default"] {
    background-color: #f0f0f0;
    color: #333;
  }
  button[type="primary"] {
    background-color: #07c160;
  }
}